<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argon" version="0.5.2" targetFramework="net472" />
  <package id="Aspose.PDF" version="23.3.1" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="DiffEngine" version="11.2.0" targetFramework="net472" />
  <package id="EmptyFiles" version="4.4.0" targetFramework="net472" />
  <package id="GdPicture" version="14.2.22" targetFramework="net472" />
  <package id="GdPicture.runtimes.windows" version="14.2.22" targetFramework="net472" />
  <package id="Ghostscript.NET" version="1.2.3" targetFramework="net472" />
  <package id="IKVM" version="7.2.4630.5" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Forms.UI.Controls" version="6.1.2" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Forms.UI.XamlHost" version="6.1.2" targetFramework="net472" />
  <package id="Microsoft.Toolkit.UI.XamlHost" version="6.1.2" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Win32.UI.SDK" version="6.1.2" targetFramework="net472" />
  <package id="Microsoft.Toolkit.Win32.UI.XamlApplication" version="6.1.2" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net472" />
  <package id="Pdfbox" version="1.1.1" targetFramework="net472" />
  <package id="Pdfbox-IKVM" version="1.8.9" targetFramework="net472" />
  <package id="pdfboxNet" version="1.8.9.0" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfPig" version="0.1.7" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="SimpleInfoName" version="2.1.1" targetFramework="net472" />
  <package id="Spire.PDF" version="9.4.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Management" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Verify" version="19.12.1" targetFramework="net472" />
  <package id="Verify.PdfPig" version="2.1.0" targetFramework="net472" />
</packages>